<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Property type</th>
            <th>Number of bedrooms</th>
            <th>Number of bathrooms</th>
            <th>Property address</th>
            <th>Description</th>
            <th>Features</th>
            <th>Amenities</th>
            <th>vacancy</th>
            <th></th>


        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let p of lists">
            <td> {{p.title }}  </td>
            <td> {{p.property_type}}  </td>
            <td> {{p.bedrooms}}  </td>
            <td> {{p.bathrooms }}  </td>
            <td> {{p.property_address}}  </td>
            <td> {{p.description }}  </td>
            <td> {{p.amenities}}  </td>
            <td> {{p.vacancy}}  </td>

            <td> <a routerLink="list/{{p.id}}" class="btn btn-dark">Edit</a></td>

        </tr>
    </tbody>
</table> 

