<form #listForm="ngForm" (ngSubmit) ="save(listForm)">
    <div class="form-group">
        <label for = "apartment">Apartment Name</label>
        <input type="text" name="apartment" id="apartment" class="form-control" [(ngModel)]="list.apartment">
    </div>
    <div class="form-group">
        <label for = "vacancy">Number of vacancy</label>
        <input type="text" name="vacancy" id="vacancy" class="form-control" [(ngModel)]="list.vacancy">
    </div>
    <div class="form-group">
        <label for = "location">Apartment location</label>
        <input type="text" name="location" id="location" class="form-control" [(ngModel)]="list.location">
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <a (click)="update(this.listForm)" class="btn btn-danger">Update</a>

    <a (click)="delete()" class="btn btn-danger">Mark as sold</a>
</form>